.passport {
    margin-top: 15px;
    padding: 15px;
}

.passport .field-group {
    display: flex;
    margin-bottom: 0px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.passport form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.passport .field {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-right: 10px;
}

.passport .field label.label {
    margin-bottom: 0px;
    margin-right: 10px;
    width: 60px;
}

.passport input {
    width: 100%;
}

.passport h4.subtitle.is-3 {
    margin-bottom: 0.75rem;
}

.list-header {
    margin-bottom: 20px;
}

.search .label {
    margin-right: 15px;
}

.lists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.list-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 550px;
    height: max-content;
    margin: 10px;
    background: rgb(252, 247, 240);

}

.image {
    margin: 10px;

}

.data-box {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.data-box label {
    margin-right: 8px;
    font-weight: bold;
}

.data-box p {
    text-transform: capitalize;
}

.edit-delete {
    position: absolute;
    top: 0;
    right: 5px;

}

.edit-button {
    padding: 3px 15px 3px 15px;
    font-size: 13px;
    background-color: rgba(183, 214, 69, 0.986);
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
}

.edit-button,
.delete-button:hover {
    cursor: pointer;
}

.delete-button {
    padding: 3px 15px 3px 15px;
    font-size: 13px;
    background-color: rgba(241, 4, 4, 0.733);
    border: 1px solid black;
    border-radius: 15px;
}

.save-button {
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    background-color: rgb(8, 201, 8);
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1rem;
}


@media (max-width:618px) {
    .edit-delete {
        position: relative;
        margin-left: 25px;
    }

    .data-box {
        font-size: 0.8rem;
    }
}